/* Colours: */
/* Mixins */
h1 {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "effra", sans-serif;
  letter-spacing: normal;
  text-transform: uppercase;
  color: black;
  font-weight: 800;
  font-style: inherit;
  font-size: 68px;
  line-height: 96px;
  margin-top: 32px;
  margin-bottom: 0px; }
  @media screen and (max-width: 640px) {
    h1 {
      font-size: 42px;
      line-height: 64px;
      margin-top: 32px;
      margin-bottom: 32px; } }

h2 {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "effra", sans-serif;
  letter-spacing: normal;
  text-transform: uppercase;
  color: black;
  font-weight: 800;
  font-size: 42px;
  line-height: 64px;
  margin-top: 32px;
  margin-bottom: 32px; }
  @media screen and (max-width: 640px) {
    h2 {
      font-size: 26px;
      line-height: 32px;
      margin-top: 32px;
      margin-bottom: 16px; } }

h3 {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "effra", sans-serif;
  letter-spacing: normal;
  text-transform: uppercase;
  color: black;
  font-weight: 800;
  font-size: 26px;
  line-height: 32px;
  margin-top: 32px;
  margin-bottom: 16px; }

p, ul {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Menlo, Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: black;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px; }

a .button {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "effra", sans-serif;
  letter-spacing: normal;
  text-transform: uppercase;
  color: black;
  display: inline-block;
  background: #FFFFFF;
  border: 4px solid #222222;
  border-radius: 40px;
  font-weight: 800;
  font-size: 16px;
  line-height: 32px;
  padding: 0px 42px 0px 42px;
  margin-bottom: 80px; }
  a .button:hover {
    transition: 0.3s ease;
    color: #FFFFFF;
    background: black;
    text-decoration: none; }

li > a {
  color: black;
  text-decoration: underline; }
  li > a:hover {
    transition: 0.3s ease;
    color: #4A90E2;
    text-decoration: none; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.container-headline {
  margin: 80px 0 0 0; }

.container-title {
  margin: 40px 0 0 0; }

.container-content {
  margin: 80px 0 80px 0; }

.hint {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #ACACAC; }

.name-badge {
  margin: 24px 0 0 0; }

.margin-p {
  margin: 40px 0 0 0; }

.size-img {
  width: 120px;
  height: 120px; }
  @media screen and (max-width: 992px) {
    .size-img {
      width: 80px;
      height: 80px; } }

.col-sm-2 .size-img, .col-xs-4 .size-img, .col-xs-5 .size-img {
  background-color: #F4F4F4; }

.background-white {
  background: #FFFFFF; }

.background-grey {
  background: #F4F4F4; }

.background-black {
  background: black; }
  .background-black h1 {
    color: #FFFFFF; }
  .background-black h2 {
    color: #FFFFFF; }
  .background-black p, .background-black ul {
    color: #FFFFFF; }
  .background-black li > a {
    color: #FFFFFF; }
    .background-black li > a:hover {
      transition: 0.3s ease;
      color: #ACACAC;
      text-decoration: none; }

html, body {
  height: 100%; }

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center; }

.calendar-header {
  border-bottom: 1px solid #ACACAC;
  margin-bottom: 32px; }

.calendar-overflow {
  overflow: scroll; }

/*# sourceMappingURL=custom-styles.css.map */
